# Environments
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# OS
.DS_Store
Thumbs.db

# User specific data
logs/
assets/
scripts/
scripts.json

# Database files
*.db
*.db-shm
*.db-wal
data/*.db
data/*.db-shm
data/*.db-wal

# IDE
.vscode/
.idea/

# Node / Frontend
node_modules/
frontend/dist/
frontend/node_modules/

# Rust / Tauri
frontend/src-tauri/target/
frontend/src-tauri/icons/*.png
frontend/src-tauri/icons/*.ico
